.problem {
  margin-bottom: 0.8rem;
  color: blue;
  cursor: pointer;
}

.problemListContainer {
  margin: 2rem 1rem 1rem 1rem;
}

.subList {
  margin: 1rem;
}

.hasSubList {
  color: grey;
  cursor: none;
}

.subProblem {
  margin-bottom: 0.8rem;
}
