.single-star {
  padding: 10px;
}

.single-star:hover {
  cursor: pointer;
}

.single-star path{
  stroke: black;
}

.ratings {
  font-weight: 700;
  display: inline;
}

.star-container {
  display: flex;
  align-items: center;
}